html, body, .app {
    height: 100vh;
    background: #eee;
    padding:.5em
}

.register-column {
    max-width: 40rem;
}

.messages-column {
    margin-left: 320px;
}

.meta-column {
    width: 4;
}

.menu {
    /* background: #3c474c; */
    font-size: 1.2rem;
}

/* .user-panel {
    background: #0d96d5;
} */

.ui.menu >.container, .ui.menu >.grid {
    margin-right: 0;
}

.user-panel-row {
    padding: 1.2em;
    margin: 0;
}

.dropdown-header {
    padding: .25em;
}

.messages {
    height: 70vh;
    overflow-y: scroll;
}

.message-form {
    position:fixed;
    bottom: 1em;
    margin-left: 320px;
    left: 0;
    right: 1em;
    z-index: 200;
}

.ui.comments {
    margin: 1.5em 0;
    max-width: none;
}

.message-self {
    border-left: 2px solid teal;
    padding-left: 8px;
  }